
//@import 'variables'; //errors
@import 'base';
@import 'mixins';

// Variables @todo: These should be in the variables file once that is working.
$primaryColour: rgb(0,81,125);
$primaryColour2: #1675bc;
$secondaryColour1: rgb(117, 139, 164);

$colors: (
  'primary1':     rgb(0,81,125),
  'primary2':     rgb(117, 139, 164),
  'primary3':     rgb(202, 210, 220),
  'secondary1':   rgb(127, 170, 226),
  'secondary2':   rgb(143, 96, 177),
  'secondary3':   rgb(186, 75, 47),
  'secondary4':   rgb(214, 129, 16),
  'secondary5':   rgb(225, 173, 64),
  'secondary6':   rgb(182, 191, 0),

  'links':        #1e70ac,
  'links-hover':  #408ebf
);

$small:  480px;
$medium: 720px;
$large:  980px;

$arial:               Arial, Helvetica, 'Nimbus Sans L', sans-serif;
$tradegothic:         'TradeGothicLT', $arial;
$tradegothic-bold:    'TradeGothicLT-Bold', $arial;
$tradegothic-italic:  'TradeGothicLT-Oblique', $arial;

@import 'govcms';
@import 'gov-blog';
@import 'responsive';
@import "modules/accordion";
@import "modules/banner";
@import "modules/blocks";
@import "modules/fields";
@import "modules/fonts";
@import "modules/footer";
@import "modules/images";
@import "modules/menu";
@import "modules/views";
@import 'print';
